.page-default{
    .query-bg1 {
        background-color: $color-34;
    }

    .query-bg2 {
        background-color: $color-red;
    }

    .query-bg3 {
        background-color: $color-red1;
    }

    .query-bg4 {
        background-color: $color-red2;
    }
}
