.page-default{
    .query-bg1 {
        background-color: $color-34;
    }

    .query-bg2 {
        background-color: $color-blue;
    }

    .query-bg3 {
        background-color: $color-blue1;
    }

    .query-bg4 {
        background-color: $color-blue2;
    }
}
