/* 尺寸设置 */
$s0:0;
$s1:0.01rem;
$s2:0.02rem;
$s3:0.03rem;
$s4:0.04rem;
$s5:0.05rem;
$s6:0.06rem;
$s7:0.07rem;
$s8:0.08rem;
$s10:0.10rem;
$s11:0.11rem;
$s12:0.12rem;
$s14:0.14rem;
$s15:0.15rem;
$s16:0.16rem;
$s18:0.18rem;
$s20:0.2rem;
$s21:0.21rem;
$s22:0.22rem;
$s24:0.24rem;
$s25:0.25rem;
$s26:0.26rem;
$s28:0.28rem;
$s30:0.3rem;
$s32:0.32rem;
$s34:0.34rem;
$s35:0.35rem;
$s36:0.36rem;
$s40:0.4rem;
$s42:0.42rem;
$s44:0.44rem;
$s45:0.45rem;
$s48:0.48rem;
$s50:0.5rem;
$s54:0.54rem;
$s55:0.55rem;
$s56:0.56rem;
$s59:0.59rem;
$s60:0.6rem;
$s64:0.64rem;
$s65:0.65rem;
$s66:0.66rem;
$s68:0.68rem;
$s70:0.7rem;
$s72:0.72rem;
$s76:0.76rem;
$s80:0.8rem;
$s85:0.85rem;
$s88:0.88rem;
$s90:0.90rem;
$s92:0.92rem;
$s95:0.95rem;
$s96:0.96rem;
$s100:1rem;
$s104:1.04rem;
$s110:1.1rem;
$s112:1.12rem;
$s120:1.2rem;
$s135:1.35rem;
$s146:1.46rem;
$s160:1.6rem;
$s176:1.76rem;
$s178:1.78rem;
$s180:1.8rem;
$s200:2rem;
$s210:2.1rem;
$s318:3.18rem;
$s320:3.2rem;
$s400:4.0rem;
$s530:5.3rem;
$s700:7rem;

/* 颜色设置 */
$color-0:#010101;
$color-34:#343a45;
$color-3:#333;
$color-5:#555;
$color-6:#666;
$color-8:#888;
$color-9:#999;
$color-C:#CCC;
$color-D:#DDD;
$color-E:#EEE;
$color-F1:#F1F1F1;
$color-F3:#F3F3F3;
$color-F8:#F8F8F8;
$color-F:#FFF;
$color-red:#c62f2f;
$color-red1:#ED242C;
$color-red2:#a94442;
$color-blue:#18639e;
$color-blue1:#2b8bd4;
$color-blue2:#8dbde2;




